<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzz.animation" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RotateActivity"
            android:label="@string/title_activity_rotate" >
        </activity>
        <activity
            android:name=".AlphaActivity"
            android:label="@string/title_activity_alpha" >
        </activity>
        <activity
            android:name=".TranslateActivity"
            android:label="@string/title_activity_translate" >
        </activity>
        <activity
            android:name=".ScaleActivity"
            android:label="@string/title_activity_scale" >
        </activity>

        <activity
            android:label="Nine Old Androids"
            android:name=".Demos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Toggles"
            android:label="Toggles">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".VPADemo"
            android:label="ViewPropertyAnimator Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>

        <!-- API DEMOS -->
        <activity
            android:name=".AnimationCloning"
            android:label="API Demos/Animation Cloning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimationLoading"
            android:label="API Demos/Animation Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimationSeeking"
            android:label="API Demos/Animation Seeking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimatorEvents"
            android:label="API Demos/Animator Events">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BouncingBalls"
            android:label="API Demos/Bouncing Balls">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomEvaluator"
            android:label="API Demos/Custom Evaluator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiPropertyAnimation"
            android:label="API Demos/Multi-Property Animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ReversingAnimation"
            android:label="API Demos/Reversing Animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>

        <!-- DROID FLAKES -->
        <activity
            android:name=".Droidflakes"
            android:label="Droid Flakes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>

        <!-- PATH ANIMATION -->
        <activity
            android:name=".PathAnimationActivity"
            android:label="Path Animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.jakewharton.nineoldandroids.sample.SAMPLE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
